.DS_Store
data/warehouse/*.duckdb
.env
dbt/heymax/logs
dbt/heymax/target/
dbt/heymax/dbt_packages/
*.duckdb
*.duckdb-wal
*.duckdb.tmp
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env
.venv
venv/
.vscode/
.idea/
dbt/heymax/profiles.yml
dbt/logs/